$font-size: 11px;
$fontCaption: 24px;
$border: none;
$position: relative;

$display: none;

$bold: 700;
$italic: 100;

$width10: 10px;
$width20:20px;
$width50:50px;
$width70:70px;
$width90:90px;

$border-left: 19px 0px 0px 19px;
$border-right: 0px 19px 18px 0px;

@mixin border-bottom($color) {
    border-bottom: 1px solid $color;
}
@mixin border($color) {
    border: 1px solid $color;
}

.border-left {
    width: $width10;
    border-radius: $border-left;
    border: $border;
}

.border-right {
    width: $width90;
    border-radius: $border-right;
    border: $border;
}

.tr10 {width: $width10;}
.tr20 {width: $width20;}
.tr50 {width: $width50;}
.tr70 {width: $width70;}
.tr90 {width: $width90;}

.header {display: $display;}
.trBorder {border: $border;}
.position {position: $position;}
.bold {font-weight: $bold;}
.italic {font-weight: $italic;}
.table .trTablePass{
    background: #802c2c;
}
.table thead{
    background: #302927;
}
.table #trNew{
    font-weight: bold;
} 
/*.table #trNew:hover,.table .trTable:hover{
    background: #d8d8d8;
}*/
.reminder{
	position: relative;
    top: -104px;
    clear: both;
}
.grid-view td {
    white-space: inherit;
}

.fa-red{
    color: #CC0000;
    font-size: 10px;
}
.fa-ping{
    color: #FF9999;
    font-size: 10px;
}
table{
    color: #ccc6c6;
}
.titleCaption{
    color: #736a50;
    position: relative;
}
.titleTable{
    @extend .titleCaption;
    font-size: $fontCaption;
    margin-top: 41px;
    margin-bottom: 8px;
    margin-left: 15px;
}
thead{
    @include border(#302927);
}

thead a{
    color: #302927;
}
.table-bordered > thead > tr > th{
    border: $border;
    /*border-bottom: 1px solid #fff;*/
}
.table tbody > tr{
    border: 1px solid #302927;
}
.table-bordered tbody > tr > td{
    border: $border;
    @include border-bottom(#423836);
}
.table .textTr{
    color: rgba(204, 198, 198, 0.6);
}
.tableSize{
    font-size: $font-size;
}
.headerTable{
    display: $display;
}
.title{
    @extend .titleCaption;
    font-size: 26px;
}
.summary{
    display: $display;
}
.borderSrok{
    @include border-bottom(#000);
}
.table-bordered > tbody {
    .trSrok{
        &:hover{
            background: #3c3432;
        }
    }
    .trNormal{
        &:hover{
            background: #3c3432;
        }
    }
}