/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "login";
@import "gridview";

$display: none;

@mixin border-bottom($color) {
    border-bottom: 1px solid $color;
}
@mixin border($color) {
    border: 1px solid $color;
}


body{
    background: #302927;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.notification-container{
   position: fixed;
    width: 16%;
    top: 50px;
    height: 200px;
    float: left;
    margin-left: 69%;
    @include border(#f1d0d0);
    z-index: 1000;
    background: #ffffff;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
}
.notification-container .hidden{
    display: $display;
}
.notification-content{
    height: 169px;
    overflow: auto;
}
