/* line 35, ../sass/button.scss */
.text-orange {
  color: #f0ad4e;
}

/* line 39, ../sass/button.scss */
.helpdesk-index a {
  padding-top: 30px;
  padding-left: 16px;
  text-decoration: none;
}
/* line 43, ../sass/button.scss */
.helpdesk-index a:hover {
  color: white;
}

/* line 48, ../sass/button.scss */
.buttonAdd {
  border-radius: 68px;
  width: 74px;
  height: 74px;
  line-height: 2px;
  font-size: 46px;
  box-shadow: 5px 6px 20px 0 rgba(2, 2, 2, 0.48);
  color: #fff;
  background: #a90329;
  background: -moz-radial-gradient(center, ellipse cover, #a90329 34%, #8f0222 67%, #6d0019 98%);
  background: -webkit-radial-gradient(center, ellipse cover, #a90329 34%, #8f0222 67%, #6d0019 98%);
  background: radial-gradient(ellipse at right top, #9e1818 34%, #791010 67%, #882828 98%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );
  border: 5px solid rgba(72, 26, 26, 0.51);
}
/* line 63, ../sass/button.scss */
.buttonAdd:hover .buttonAdd:focus {
  background: #791010;
  color: #fff;
}
/* line 67, ../sass/button.scss */
.buttonAdd .caret {
  display: none;
}

/* line 71, ../sass/button.scss */
.btn-group {
  position: fixed;
  top: 85%;
  z-index: 1;
  float: right;
  left: 86%;
}
/* line 77, ../sass/button.scss */
.btn-group .dropdown-menu {
  top: -103px;
  left: -27px;
  font-size: 11px;
  background: #302927;
  min-width: 92px;
  border: 2px solid rgba(204, 198, 198, 0.6);
  border-radius: 9px;
}
/* line 85, ../sass/button.scss */
.btn-group .dropdown-menu .divider {
  margin: 0 0 0 10px;
  background: rgba(255, 255, 255, 0.07);
  width: 64px;
}
/* line 90, ../sass/button.scss */
.btn-group .dropdown-menu .dropdown-header {
  padding: 0.4px 0;
}
/* line 93, ../sass/button.scss */
.btn-group .dropdown-menu a {
  color: rgba(204, 198, 198, 0.6);
}
/* line 95, ../sass/button.scss */
.btn-group .dropdown-menu a:hover {
  border-radius: 12px;
  margin: 0 8px 0 7px;
  padding: 3px 0 3px 13px;
  background-color: #191412;
  color: #736a50;
}

/* line 105, ../sass/button.scss */
.zakaz-form {
  height: 30px;
  line-height: 25px;
  padding-left: 20px;
}
/* line 107, ../sass/button.scss */
.zakaz-form .kv-file-content i {
  font-size: 30px;
}
/* line 111, ../sass/button.scss */
.zakaz-form .file-actions-cell {
  display: none;
}
/* line 114, ../sass/button.scss */
.zakaz-form .file-preview {
  padding: 0;
}
/* line 118, ../sass/button.scss */
.zakaz-form .submitZakazForm {
  float: right;
  margin-top: -76px;
  margin-right: 185px;
}
/* line 122, ../sass/button.scss */
.zakaz-form .submitZakazForm button {
  width: 111px;
}

/* line 129, ../sass/button.scss */
#modalFile .zakaz-upload .fileInput {
  height: 30px;
  line-height: 25px;
  padding-left: 20px;
  text-align: center;
}
/* line 133, ../sass/button.scss */
#modalFile .zakaz-upload .submitFile {
  height: 30px;
  line-height: 25px;
  padding-left: 20px;
  width: 100%;
}

/* line 139, ../sass/button.scss */
.action {
  padding-left: 13px;
  padding-right: 13px;
  font-size: 11px;
  border: none;
  background: #3a3331;
  border-radius: 26px;
  color: #736a50;
  padding-top: 3px;
  padding-bottom: 2px;
  text-decoration: none;
  outline: 0;
}
/* line 151, ../sass/button.scss */
.action:hover {
  background: #736a50;
  color: #3a3331;
}

/* line 156, ../sass/button.scss */
.actionCancel {
  width: 78px;
  position: relative;
  left: 66px;
  top: -1px;
}
/* line 161, ../sass/button.scss */
.actionCancel:hover {
  background: #802c2c;
  color: white;
}

/* line 166, ../sass/button.scss */
.actionApprove {
  left: 64px;
  top: -1px;
  width: 79px;
  position: relative;
}
/* line 171, ../sass/button.scss */
.actionApprove:hover {
  border: none;
  background: #446505;
  color: white;
}

/* line 178, ../sass/button.scss */
.zakaz-index .modalDisain {
  float: right;
}

/* line 183, ../sass/button.scss */
.ispolShop a {
  color: #446505;
  text-decoration: none;
}

/* line 189, ../sass/button.scss */
.courier-shipping a {
  color: #802c2c;
  text-decoration: none;
}

/* line 195, ../sass/button.scss */
.courier-index a, .custom-index a, .helpdesk-index a {
  color: #446505;
  text-decoration: none;
}

/* line 202, ../sass/button.scss */
.footer-view-zakaz .done:hover {
  border: none;
  background: #446505;
  color: white;
}
/* line 208, ../sass/button.scss */
.footer-view-zakaz a {
  padding-left: 13px;
  padding-right: 13px;
  float: right;
  margin-top: -10px;
  margin-right: 18px;
  font-size: 11px;
  background: #3a3331;
  border-radius: 26px;
  color: #736a50;
  background: none;
  border: 1px solid #3a3331;
  color: #3a3331;
  margin-top: 1px;
  float: none;
}
/* line 23, ../sass/button.scss */
.footer-view-zakaz a:hover {
  color: #3a3331;
  background: #736a50;
}
/* line 215, ../sass/button.scss */
.footer-view-zakaz a:hover {
  text-decoration: none;
  outline: 0;
  color: #191412;
  background: #3a3331;
}

/* line 224, ../sass/button.scss */
.zakaz-shippingForm button {
  height: 30px;
  margin-left: 15px;
  position: relative;
  top: -43px;
  left: 211px;
  outline: 0;
}

/* line 234, ../sass/button.scss */
.modal-content a {
  height: 30px;
}
/* line 237, ../sass/button.scss */
.modal-content .fulfilled {
  width: 64%;
  margin-left: 11px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 146px;
  padding-left: 130px;
  text-decoration: none;
}
