/* line 42, ../sass/gridview.scss */
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background: #191412;
  border-radius: 0px 0px 15px 15px;
}

/* line 58, ../sass/gridview.scss */
.container {
  font-size: 11px;
}

/* line 62, ../sass/gridview.scss */
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 68, ../sass/gridview.scss */
.button, .zakazSearch .zakaz-search button {
  outline: none;
  color: #999265;
  background: #302927;
}

/* line 73, ../sass/gridview.scss */
.divWork {
  background: #302927;
}

/* line 76, ../sass/gridview.scss */
.headerTable {
  display: none;
}

/* line 80, ../sass/gridview.scss */
.titleCaption, .titleTable {
  color: #736a50;
  position: relative;
}

/* line 84, ../sass/gridview.scss */
.titleTable {
  font-size: 24px;
  margin-top: 41px;
  margin-bottom: 8px;
  margin-left: 15px;
  float: left;
}
/* line 91, ../sass/gridview.scss */
.titleTable:nth-of-type(3) {
  float: none;
}

/* line 95, ../sass/gridview.scss */
.zakazSearch {
  height: 73px;
  float: right;
}
/* line 99, ../sass/gridview.scss */
.zakazSearch .zakaz-search input {
  position: relative;
  top: 40px;
  left: -56px;
  height: 30px;
  border-radius: 16px 0px 0px 19px;
  background: #302927;
  font-size: 11px;
  border: 1px solid rgba(204, 198, 198, 0.6);
}
/* line 108, ../sass/gridview.scss */
.zakazSearch .zakaz-search input:focus {
  background: rgba(204, 198, 198, 0.6);
  color: #302927;
  border: none;
}
/* line 114, ../sass/gridview.scss */
.zakazSearch .zakaz-search button {
  margin-top: -5px;
  height: 30px;
  padding: 0px 23px 0px 13px;
  margin-left: 98px;
  border-radius: 0px 16px 16px 0px;
  color: rgba(204, 198, 198, 0.6);
  background: #3a3331;
  border: 1px solid rgba(204, 198, 198, 0.6);
  border-left: 1px solid #3a3331;
}
/* line 125, ../sass/gridview.scss */
.zakazSearch .zakaz-search button:hover {
  background: #802c2c;
  border-bottom: 1px solid #802c2c;
  border-top: 1px solid #802c2c;
  border-right: 1px solid #802c2c;
  color: #fff;
}

/* line 135, ../sass/gridview.scss */
.border-left {
  width: 10px;
  border-radius: 19px 0px 0px 19px;
  border: none;
}

/* line 141, ../sass/gridview.scss */
.border-right {
  width: 90px;
  border-radius: 0px 19px 18px 0px;
  border: none;
}

/* line 147, ../sass/gridview.scss */
.tr10 {
  width: 10px;
}

/* line 148, ../sass/gridview.scss */
.tr20 {
  width: 20px;
}

/* line 149, ../sass/gridview.scss */
.tr25 {
  width: 25px;
}

/* line 150, ../sass/gridview.scss */
.tr50 {
  width: 50px;
}

/* line 151, ../sass/gridview.scss */
.tr70 {
  width: 70px;
}

/* line 152, ../sass/gridview.scss */
.tr90 {
  width: 90px;
}

/* line 153, ../sass/gridview.scss */
.tr180 {
  width: 137px;
}

/* line 154, ../sass/gridview.scss */
.tr202 {
  width: 159px;
}

/* line 156, ../sass/gridview.scss */
.header {
  display: none;
}

/* line 157, ../sass/gridview.scss */
.trBorder {
  border: none;
}

/* line 158, ../sass/gridview.scss */
.position {
  position: relative;
}

/* line 159, ../sass/gridview.scss */
.bold {
  font-weight: 700;
}

/* line 160, ../sass/gridview.scss */
.italic {
  font-weight: 100;
}

/* line 161, ../sass/gridview.scss */
.table .trTablePass {
  background: #802c2c;
}

/* line 164, ../sass/gridview.scss */
.table thead {
  background: #302927;
}

/* line 167, ../sass/gridview.scss */
.table .trNew {
  font-weight: bold;
  color: #191412;
}

/* line 171, ../sass/gridview.scss */
.reminder {
  position: relative;
  top: -104px;
  clear: both;
}

/* line 176, ../sass/gridview.scss */
.grid-view td {
  white-space: inherit;
}

/* line 180, ../sass/gridview.scss */
.fa-red {
  color: #CC0000;
  font-size: 10px;
}

/* line 184, ../sass/gridview.scss */
.fa-ping {
  color: #FF9999;
  font-size: 10px;
}

/* line 188, ../sass/gridview.scss */
.anketaZakaz {
  color: rgba(204, 198, 198, 0.6);
  padding-left: 23px;
  margin-top: 1px;
  width: 100px;
}
/* line 193, ../sass/gridview.scss */
.anketaZakaz div {
  margin-bottom: 7px;
}
/* line 195, ../sass/gridview.scss */
.anketaZakaz div:nth-of-type(4) {
  margin-top: -7px;
}
/* line 198, ../sass/gridview.scss */
.anketaZakaz div:nth-of-type(5) {
  margin-top: -7px;
}
/* line 202, ../sass/gridview.scss */
.anketaZakaz .anketaZakaz_from {
  font-weight: 900;
  color: #3a3331;
}

/* line 207, ../sass/gridview.scss */
.linePrice {
  margin-top: 13px;
  border-bottom: 1px solid rgba(48, 41, 39, 0.3);
  position: relative;
  left: -18px;
  top: -10px;
  width: 228px;
}

/* line 215, ../sass/gridview.scss */
.responsible {
  color: rgba(204, 198, 198, 0.6);
  margin-top: 1px;
  padding-left: 15px;
  float: right;
  width: 254px;
}
/* line 222, ../sass/gridview.scss */
.responsible a:hover {
  text-decoration: none;
}
/* line 226, ../sass/gridview.scss */
.responsible .responsible_person {
  font-weight: 900;
  color: #3a3331;
  margin-left: -1px;
  margin-right: 20px;
}
/* line 233, ../sass/gridview.scss */
.responsible .namePrice:nth-of-type(1) {
  margin-right: 7px;
  position: relative;
  left: -19px;
}
/* line 238, ../sass/gridview.scss */
.responsible .namePrice:nth-of-type(3) {
  margin-left: 12px;
}
/* line 242, ../sass/gridview.scss */
.responsible .price {
  font-weight: 100;
  color: rgba(204, 198, 198, 0.6);
  margin-right: 0px;
  margin-left: 36px;
  float: left;
}
/* line 248, ../sass/gridview.scss */
.responsible .price:nth-of-type(1) {
  margin-left: 18px;
}
/* line 251, ../sass/gridview.scss */
.responsible .price:nth-of-type(2) {
  margin-left: 64px;
}
/* line 254, ../sass/gridview.scss */
.responsible .price:nth-of-type(3) {
  margin-right: 27px;
  margin-left: 0px;
  float: right;
}
/* line 260, ../sass/gridview.scss */
.responsible .statusZakaz {
  width: 155px;
  top: -15px;
  left: 64px;
  position: relative;
  font-size: 15px;
  background: #446505;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* line 272, ../sass/gridview.scss */
.zakazFile {
  color: rgba(204, 198, 198, 0.6);
  padding-left: 20px;
  margin-top: 1px;
  width: 52px;
}
/* line 277, ../sass/gridview.scss */
.zakazFile div {
  margin-left: -28px;
}
/* line 279, ../sass/gridview.scss */
.zakazFile div .zakazFile_block-number {
  font-weight: 900;
  color: #3a3331;
}
/* line 283, ../sass/gridview.scss */
.zakazFile div div {
  text-align: right;
  width: 69px;
}

/* line 289, ../sass/gridview.scss */
table {
  color: #ccc6c6;
}

/* line 293, ../sass/gridview.scss */
thead {
  border: 1px solid #302927;
}

/* line 297, ../sass/gridview.scss */
thead a {
  color: #302927;
}

/* line 300, ../sass/gridview.scss */
.table-bordered > thead > tr > th {
  border: none;
}

/* line 305, ../sass/gridview.scss */
.table tbody > tr {
  border: 1px solid #302927;
}
/* line 308, ../sass/gridview.scss */
.table .textTr {
  color: rgba(204, 198, 198, 0.6);
}

/* line 314, ../sass/gridview.scss */
.table-bordered tbody tr td {
  border: none;
  border-bottom: none;
}
/* line 318, ../sass/gridview.scss */
.table-bordered tbody tr .zakaz-view-kartik {
  border-bottom: none;
  color: rgba(204, 198, 198, 0.6);
}
/* line 322, ../sass/gridview.scss */
.table-bordered tbody tr .zakazInfo {
  margin-top: 1px;
  /* Track */
  /* Handle */
}
/* line 324, ../sass/gridview.scss */
.table-bordered tbody tr .zakazInfo .divInform {
  overflow-y: auto;
  height: 133px;
  background: #736a50;
  color: #191412;
  border-radius: 8px;
  padding: 5px 18px 0px 17px;
  border-top: 4px solid #736a50;
  border-right: 4px solid #736a50;
  border-left: 1px solid #736a50;
  border-bottom: 14px solid #736a50;
}
/* line 336, ../sass/gridview.scss */
.table-bordered tbody tr .zakazInfo .comment-zakaz {
  overflow-y: auto;
  height: 38px;
  margin-top: 5px;
  color: #3a3331;
  background: #191412;
  border-radius: 8px;
  padding: 9px 18px 0px 17px;
  border-left: 0px solid #191412;
  border-top: 0px solid #191412;
  border-right: 3px solid #191412;
  border-bottom: 27px solid #191412;
}
/* line 349, ../sass/gridview.scss */
.table-bordered tbody tr .zakazInfo ::-webkit-scrollbar {
  width: 4px;
}
/* line 354, ../sass/gridview.scss */
.table-bordered tbody tr .zakazInfo ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 361, ../sass/gridview.scss */
.table-bordered tbody tr .zakazInfo ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #3a3331;
  -webkit-box-shadow: inset 0 0 5px #3a3331;
}
/* line 367, ../sass/gridview.scss */
.table-bordered tbody tr .zakazInfo ::-webkit-scrollbar-thumb:window-inactive {
  background: #3a3331;
}
/* line 371, ../sass/gridview.scss */
.table-bordered tbody tr .imgZakaz {
  font-size: 18px;
  height: 39px;
  width: 39px;
  text-align: center;
  border-radius: 4px;
  padding-top: 11px;
  background: #302927;
  color: #736a50;
  margin-top: 10px;
  margin-left: -20px;
}
/* line 382, ../sass/gridview.scss */
.table-bordered tbody tr .imgZakaz:hover {
  color: #302927;
  background: #736a50;
}

/* line 389, ../sass/gridview.scss */
.tableSize {
  font-size: 11px;
}

/* line 392, ../sass/gridview.scss */
.summary {
  display: none;
}

/* line 395, ../sass/gridview.scss */
.borderSrok {
  border-bottom: 1px solid #000;
}

/* line 399, ../sass/gridview.scss */
.table-bordered > tbody .trTable {
  border-bottom: 1px solid #423836;
}
/* line 403, ../sass/gridview.scss */
.table-bordered > tbody .trSrok:hover {
  background: #3c3432;
}
/* line 408, ../sass/gridview.scss */
.table-bordered > tbody .trNormal:hover {
  background: #3c3432;
}

/* line 413, ../sass/gridview.scss */
.detail-view {
  background-color: #191412;
}

/* line 416, ../sass/gridview.scss */
.footerView {
  border-top: 1px solid rgba(48, 41, 39, 0.3);
  width: 95.5%;
  margin-left: 22px;
  position: relative;
  top: -28px;
}

/* line 424, ../sass/gridview.scss */
.footer-view-zakaz {
  margin-top: -22px;
}

/* line 429, ../sass/gridview.scss */
.zakaz-index .detail-view tbody {
  background: #191412;
}
/* line 433, ../sass/gridview.scss */
.zakaz-index .success-ispol {
  color: #446505;
}
/* line 436, ../sass/gridview.scss */
.zakaz-index .userCommit {
  width: 62px;
  float: left;
  text-align: right;
  padding-right: 10px;
}
/* line 442, ../sass/gridview.scss */
.zakaz-index .comment {
  width: 446px;
  float: left;
  color: #505050;
}
/* line 447, ../sass/gridview.scss */
.zakaz-index .dateCommit {
  float: left;
}

/* line 453, ../sass/gridview.scss */
.zakaz-shop .zakazSearch .shopSearch {
  margin-top: -45px;
  margin-left: 158px;
}
/* line 457, ../sass/gridview.scss */
.zakaz-shop .zakazSearch input {
  left: 5px;
  width: 168px;
}
/* line 462, ../sass/gridview.scss */
.zakaz-shop .shopZakaz {
  margin-top: 1px;
}
/* line 466, ../sass/gridview.scss */
.zakaz-shop .zakazFile .table {
  background: #191412;
}

/* line 471, ../sass/gridview.scss */
.shipping {
  color: #191412;
  font-weight: 700;
  margin-right: 4px;
}

/* line 476, ../sass/gridview.scss */
.footerNav {
  margin-top: 27px;
  font-size: 24px;
}
/* line 479, ../sass/gridview.scss */
.footerNav a {
  width: 135px;
  border-radius: 26px;
  font-size: 18px;
  color: #736a50;
  background: #3a3331;
  outline: 0;
  position: relative;
  text-align: center;
  top: 40px;
  left: 15px;
  line-height: 12px;
  border: none;
}

/* line 494, ../sass/gridview.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background: #191412;
}

/* line 497, ../sass/gridview.scss */
.nav-pills > li > a {
  border-radius: 26px;
}
