/* line 54, ../sass/gridview.scss */
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background: #191412;
  border-radius: 0px 0px 15px 15px;
}

/* line 70, ../sass/gridview.scss */
.container {
  font-size: 11px;
}

/* line 74, ../sass/gridview.scss */
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 80, ../sass/gridview.scss */
.button, .zakaz-index .zakazSearch .zakaz-search button {
  outline: none;
  color: #999265;
  background: #302927;
}

/* line 87, ../sass/gridview.scss */
.zakaz-index .titleCaption, .zakaz-index .titleTable {
  color: #736a50;
  position: relative;
}
/* line 91, ../sass/gridview.scss */
.zakaz-index .titleTable {
  font-size: 24px;
  margin-top: 41px;
  margin-bottom: 8px;
  margin-left: 15px;
  float: left;
}
/* line 98, ../sass/gridview.scss */
.zakaz-index .titleTable:nth-of-type(3) {
  float: none;
}
/* line 102, ../sass/gridview.scss */
.zakaz-index .zakazSearch {
  height: 73px;
  float: right;
}
/* line 106, ../sass/gridview.scss */
.zakaz-index .zakazSearch .zakaz-search input {
  position: relative;
  top: 40px;
  left: -56px;
  height: 30px;
  border-radius: 16px 0px 0px 19px;
  background: #302927;
  font-size: 11px;
  border: 1px solid rgba(204, 198, 198, 0.6);
}
/* line 115, ../sass/gridview.scss */
.zakaz-index .zakazSearch .zakaz-search input:focus {
  background: rgba(204, 198, 198, 0.6);
  color: #302927;
  border: none;
}
/* line 121, ../sass/gridview.scss */
.zakaz-index .zakazSearch .zakaz-search button {
  margin-top: -5px;
  height: 30px;
  padding: 0px 23px 0px 13px;
  margin-left: 98px;
  border-radius: 0px 16px 16px 0px;
  color: rgba(204, 198, 198, 0.6);
  background: #3a3331;
  border: 1px solid rgba(204, 198, 198, 0.6);
  border-left: 1px solid #3a3331;
}
/* line 132, ../sass/gridview.scss */
.zakaz-index .zakazSearch .zakaz-search button:hover {
  background: #802c2c;
  border-bottom: 1px solid #802c2c;
  border-top: 1px solid #802c2c;
  border-right: 1px solid #802c2c;
  color: #fff;
}
/* line 143, ../sass/gridview.scss */
.zakaz-index .border-left {
  width: 10px;
  border-radius: 19px 0px 0px 19px;
  border: none;
}
/* line 149, ../sass/gridview.scss */
.zakaz-index .border-right {
  width: 90px;
  border-radius: 0px 19px 18px 0px;
  border: none;
}
/* line 155, ../sass/gridview.scss */
.zakaz-index .tr10 {
  width: 10px;
}
/* line 156, ../sass/gridview.scss */
.zakaz-index .tr20 {
  width: 20px;
}
/* line 157, ../sass/gridview.scss */
.zakaz-index .tr25 {
  width: 25px;
}
/* line 158, ../sass/gridview.scss */
.zakaz-index .tr50 {
  width: 50px;
}
/* line 159, ../sass/gridview.scss */
.zakaz-index .tr70 {
  width: 70px;
}
/* line 160, ../sass/gridview.scss */
.zakaz-index .tr90 {
  width: 90px;
}
/* line 161, ../sass/gridview.scss */
.zakaz-index .tr180 {
  width: 137px;
}
/* line 162, ../sass/gridview.scss */
.zakaz-index .tr202 {
  width: 159px;
}
/* line 164, ../sass/gridview.scss */
.zakaz-index .header {
  display: none;
}
/* line 165, ../sass/gridview.scss */
.zakaz-index .trBorder {
  border: none;
}
/* line 166, ../sass/gridview.scss */
.zakaz-index .position {
  position: relative;
}
/* line 167, ../sass/gridview.scss */
.zakaz-index .bold {
  font-weight: 700;
}
/* line 168, ../sass/gridview.scss */
.zakaz-index .italic {
  font-weight: 100;
}
/* line 169, ../sass/gridview.scss */
.zakaz-index .table .trTablePass {
  background: #802c2c;
}
/* line 172, ../sass/gridview.scss */
.zakaz-index .table thead {
  background: #302927;
}
/* line 175, ../sass/gridview.scss */
.zakaz-index .table #trNew {
  font-weight: bold;
}
/* line 178, ../sass/gridview.scss */
.zakaz-index .reminder {
  position: relative;
  top: -104px;
  clear: both;
}
/* line 183, ../sass/gridview.scss */
.zakaz-index .grid-view td {
  white-space: inherit;
}
/* line 187, ../sass/gridview.scss */
.zakaz-index .fa-red {
  color: #CC0000;
  font-size: 10px;
}
/* line 191, ../sass/gridview.scss */
.zakaz-index .fa-ping {
  color: #FF9999;
  font-size: 10px;
}
/* line 195, ../sass/gridview.scss */
.zakaz-index .anketaZakaz {
  color: rgba(204, 198, 198, 0.6);
  padding-left: 23px;
  margin-top: 1px;
  width: 100px;
}
/* line 200, ../sass/gridview.scss */
.zakaz-index .anketaZakaz div {
  margin-bottom: 7px;
}
/* line 202, ../sass/gridview.scss */
.zakaz-index .anketaZakaz div:nth-of-type(4) {
  margin-top: -7px;
}
/* line 205, ../sass/gridview.scss */
.zakaz-index .anketaZakaz div:nth-of-type(5) {
  margin-top: -7px;
}
/* line 209, ../sass/gridview.scss */
.zakaz-index .anketaZakaz .anketaZakaz_from {
  font-weight: 900;
  color: #3a3331;
}
/* line 214, ../sass/gridview.scss */
.zakaz-index .responsible {
  color: rgba(204, 198, 198, 0.6);
  margin-top: 1px;
  padding-left: 15px;
  float: right;
  width: 254px;
}
/* line 221, ../sass/gridview.scss */
.zakaz-index .responsible a:hover {
  text-decoration: none;
}
/* line 225, ../sass/gridview.scss */
.zakaz-index .responsible .responsible_person {
  font-weight: 900;
  color: #3a3331;
  margin-left: -1px;
}
/* line 230, ../sass/gridview.scss */
.zakaz-index .responsible .statusZakaz {
  width: 155px;
  top: -15px;
  left: 64px;
  position: relative;
  font-size: 15px;
  background: #446505;
  font-weight: bold;
  color: white;
  text-align: center;
}
/* line 241, ../sass/gridview.scss */
.zakaz-index .responsible .action {
  padding-left: 13px;
  padding-right: 13px;
  font-size: 11px;
  background: #3a3331;
  border-radius: 26px;
  color: #736a50;
  padding-top: 3px;
  padding-bottom: 2px;
  text-decoration: none;
}
/* line 251, ../sass/gridview.scss */
.zakaz-index .responsible .action:hover {
  background: #736a50;
  color: #3a3331;
}
/* line 257, ../sass/gridview.scss */
.zakaz-index .responsible .actionCancel:hover {
  background: #802c2c;
  color: white;
}
/* line 263, ../sass/gridview.scss */
.zakaz-index .responsible .actionApprove:hover {
  background: #446505;
  color: white;
}
/* line 269, ../sass/gridview.scss */
.zakaz-index .zakazFile {
  color: rgba(204, 198, 198, 0.6);
  padding-left: 23px;
  margin-top: 1px;
  width: 100px;
}
/* line 274, ../sass/gridview.scss */
.zakaz-index .zakazFile div {
  margin-left: -28px;
}
/* line 276, ../sass/gridview.scss */
.zakaz-index .zakazFile div .zakazFile_block-number {
  font-weight: 900;
  color: #3a3331;
}
/* line 280, ../sass/gridview.scss */
.zakaz-index .zakazFile div div {
  text-align: right;
  width: 69px;
}
/* line 286, ../sass/gridview.scss */
.zakaz-index table {
  color: #ccc6c6;
}
/* line 290, ../sass/gridview.scss */
.zakaz-index thead {
  border: 1px solid #302927;
}
/* line 294, ../sass/gridview.scss */
.zakaz-index thead a {
  color: #302927;
}
/* line 297, ../sass/gridview.scss */
.zakaz-index .table-bordered > thead > tr > th {
  border: none;
}
/* line 302, ../sass/gridview.scss */
.zakaz-index .table tbody > tr {
  border: 1px solid #302927;
}
/* line 305, ../sass/gridview.scss */
.zakaz-index .table .textTr {
  color: rgba(204, 198, 198, 0.6);
}
/* line 311, ../sass/gridview.scss */
.zakaz-index .table-bordered tbody tr td {
  border: none;
  border-bottom: none;
}
/* line 315, ../sass/gridview.scss */
.zakaz-index .table-bordered tbody tr .zakaz-view-kartik {
  border-bottom: none;
  color: rgba(204, 198, 198, 0.6);
}
/* line 319, ../sass/gridview.scss */
.zakaz-index .table-bordered tbody tr .zakazInfo {
  margin-top: 1px;
  /* Track */
  /* Handle */
}
/* line 321, ../sass/gridview.scss */
.zakaz-index .table-bordered tbody tr .zakazInfo .divInform {
  overflow-y: auto;
  height: 133px;
  background: #736a50;
  color: #191412;
  border-radius: 8px;
  padding: 5px 18px 0px 17px;
  border-top: 4px solid #736a50;
  border-right: 4px solid #736a50;
  border-left: 1px solid #736a50;
  border-bottom: 14px solid #736a50;
}
/* line 333, ../sass/gridview.scss */
.zakaz-index .table-bordered tbody tr .zakazInfo .comment-zakaz {
  overflow-y: auto;
  height: 80px;
  margin-top: 5px;
  color: #3a3331;
  background: #191412;
  border-radius: 8px;
  padding: 9px 18px 0px 17px;
  border-left: 0px solid #191412;
  border-top: 0px solid #191412;
  border-right: 3px solid #191412;
  border-bottom: 27px solid #191412;
}
/* line 346, ../sass/gridview.scss */
.zakaz-index .table-bordered tbody tr .zakazInfo ::-webkit-scrollbar {
  width: 4px;
}
/* line 351, ../sass/gridview.scss */
.zakaz-index .table-bordered tbody tr .zakazInfo ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 358, ../sass/gridview.scss */
.zakaz-index .table-bordered tbody tr .zakazInfo ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #3a3331;
  -webkit-box-shadow: inset 0 0 5px #3a3331;
}
/* line 364, ../sass/gridview.scss */
.zakaz-index .table-bordered tbody tr .zakazInfo ::-webkit-scrollbar-thumb:window-inactive {
  background: #3a3331;
}
/* line 368, ../sass/gridview.scss */
.zakaz-index .table-bordered tbody tr .imgZakaz {
  font-size: 18px;
  height: 39px;
  width: 39px;
  text-align: center;
  border-radius: 4px;
  padding-top: 11px;
  background: #302927;
  color: #736a50;
  margin-top: 10px;
  margin-left: -20px;
}
/* line 379, ../sass/gridview.scss */
.zakaz-index .table-bordered tbody tr .imgZakaz:hover {
  color: #302927;
  background: #736a50;
}
/* line 386, ../sass/gridview.scss */
.zakaz-index .tableSize {
  font-size: 11px;
}
/* line 389, ../sass/gridview.scss */
.zakaz-index .headerTable {
  display: none;
}
/* line 393, ../sass/gridview.scss */
.zakaz-index .summary {
  display: none;
}
/* line 396, ../sass/gridview.scss */
.zakaz-index .borderSrok {
  border-bottom: 1px solid #000;
}
/* line 400, ../sass/gridview.scss */
.zakaz-index .table-bordered > tbody .trTable {
  border-bottom: 1px solid #423836;
}
/* line 404, ../sass/gridview.scss */
.zakaz-index .table-bordered > tbody .trSrok:hover {
  background: #3c3432;
}
/* line 409, ../sass/gridview.scss */
.zakaz-index .table-bordered > tbody .trNormal:hover {
  background: #3c3432;
}
/* line 414, ../sass/gridview.scss */
.zakaz-index .detail-view {
  background-color: #191412;
}
/* line 417, ../sass/gridview.scss */
.zakaz-index .footerView {
  border-top: 1px solid rgba(48, 41, 39, 0.3);
  width: 95.5%;
  margin-left: 22px;
  position: relative;
  top: -28px;
}
/* line 425, ../sass/gridview.scss */
.zakaz-index .footer-view-zakaz {
  margin-top: -22px;
}
/* line 427, ../sass/gridview.scss */
.zakaz-index .footer-view-zakaz a {
  padding-left: 13px;
  padding-right: 13px;
  float: right;
  margin-top: -10px;
  margin-right: 18px;
  font-size: 11px;
  background: #3a3331;
  border-radius: 26px;
  color: #736a50;
  background: none;
  border: 1px solid #3a3331;
  color: #3a3331;
  margin-top: 1px;
  float: none;
}
/* line 48, ../sass/gridview.scss */
.zakaz-index .footer-view-zakaz a:hover {
  color: #3a3331;
  background: #736a50;
}
/* line 434, ../sass/gridview.scss */
.zakaz-index .footer-view-zakaz a:hover {
  text-decoration: none;
  outline: 0;
  color: #191412;
  background: #3a3331;
}

/* line 443, ../sass/gridview.scss */
.footerNav {
  margin-top: 27px;
  font-size: 24px;
}
/* line 446, ../sass/gridview.scss */
.footerNav a {
  width: 135px;
  border-radius: 26px;
  font-size: 18px;
  color: #736a50;
  background: #3a3331;
  outline: 0;
  position: relative;
  text-align: center;
  top: 40px;
  left: 15px;
  line-height: 12px;
  border: none;
}

/* line 461, ../sass/gridview.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background: #191412;
}

/* line 464, ../sass/gridview.scss */
.nav-pills > li > a {
  border-radius: 26px;
}
