/* line 37, ../sass/gridview.scss */
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background: #191412;
  border-radius: 0px 0px 15px 15px;
  position: relative;
  top: -14px;
  z-index: -1;
}

/* line 56, ../sass/gridview.scss */
.container {
  font-size: 11px;
}

/* line 60, ../sass/gridview.scss */
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 66, ../sass/gridview.scss */
.button, .zakaz-index .zakazSearch .zakaz-search button {
  outline: none;
  color: #999265;
  background: #302927;
}

/* line 71, ../sass/gridview.scss */
.zakaz-index {
  .nav-pills: 37px;
}
/* line 73, ../sass/gridview.scss */
.zakaz-index .titleCaption, .zakaz-index .titleTable {
  color: #736a50;
  position: relative;
}
/* line 77, ../sass/gridview.scss */
.zakaz-index .titleTable {
  font-size: 24px;
  margin-top: 41px;
  margin-bottom: 8px;
  margin-left: 15px;
  float: left;
}
/* line 84, ../sass/gridview.scss */
.zakaz-index .titleTable:nth-of-type(3) {
  float: none;
}
/* line 88, ../sass/gridview.scss */
.zakaz-index .zakazSearch {
  height: 73px;
  float: right;
}
/* line 92, ../sass/gridview.scss */
.zakaz-index .zakazSearch .zakaz-search input {
  position: relative;
  top: 40px;
  left: -56px;
  height: 30px;
  border-radius: 16px 0px 0px 19px;
  background: #302927;
  font-size: 11px;
  border: 1px solid rgba(204, 198, 198, 0.6);
}
/* line 101, ../sass/gridview.scss */
.zakaz-index .zakazSearch .zakaz-search input:focus {
  background: rgba(204, 198, 198, 0.6);
  color: #302927;
  border: none;
}
/* line 107, ../sass/gridview.scss */
.zakaz-index .zakazSearch .zakaz-search button {
  margin-top: -5px;
  height: 30px;
  padding: 0px 23px 0px 13px;
  margin-left: 98px;
  border-radius: 0px 16px 16px 0px;
  color: rgba(204, 198, 198, 0.6);
  background: #3a3331;
  border: 1px solid rgba(204, 198, 198, 0.6);
  border-left: 1px solid #3a3331;
}
/* line 118, ../sass/gridview.scss */
.zakaz-index .zakazSearch .zakaz-search button:hover {
  background: #802c2c;
  border-bottom: 1px solid #802c2c;
  border-top: 1px solid #802c2c;
  border-right: 1px solid #802c2c;
  color: #fff;
}
/* line 129, ../sass/gridview.scss */
.zakaz-index .border-left {
  width: 10px;
  border-radius: 19px 0px 0px 19px;
  border: none;
}
/* line 135, ../sass/gridview.scss */
.zakaz-index .border-right {
  width: 90px;
  border-radius: 0px 19px 18px 0px;
  border: none;
}
/* line 141, ../sass/gridview.scss */
.zakaz-index .tr10 {
  width: 10px;
}
/* line 142, ../sass/gridview.scss */
.zakaz-index .tr20 {
  width: 20px;
}
/* line 143, ../sass/gridview.scss */
.zakaz-index .tr25 {
  width: 25px;
}
/* line 144, ../sass/gridview.scss */
.zakaz-index .tr50 {
  width: 50px;
}
/* line 145, ../sass/gridview.scss */
.zakaz-index .tr70 {
  width: 70px;
}
/* line 146, ../sass/gridview.scss */
.zakaz-index .tr90 {
  width: 90px;
}
/* line 147, ../sass/gridview.scss */
.zakaz-index .tr180 {
  width: 137px;
}
/* line 149, ../sass/gridview.scss */
.zakaz-index .header {
  display: none;
}
/* line 150, ../sass/gridview.scss */
.zakaz-index .trBorder {
  border: none;
}
/* line 151, ../sass/gridview.scss */
.zakaz-index .position {
  position: relative;
}
/* line 152, ../sass/gridview.scss */
.zakaz-index .bold {
  font-weight: 700;
}
/* line 153, ../sass/gridview.scss */
.zakaz-index .italic {
  font-weight: 100;
}
/* line 154, ../sass/gridview.scss */
.zakaz-index .table .trTablePass {
  background: #802c2c;
}
/* line 157, ../sass/gridview.scss */
.zakaz-index .table thead {
  background: #302927;
}
/* line 160, ../sass/gridview.scss */
.zakaz-index .table #trNew {
  font-weight: bold;
}
/* line 163, ../sass/gridview.scss */
.zakaz-index .reminder {
  position: relative;
  top: -104px;
  clear: both;
}
/* line 168, ../sass/gridview.scss */
.zakaz-index .grid-view td {
  white-space: inherit;
}
/* line 172, ../sass/gridview.scss */
.zakaz-index .fa-red {
  color: #CC0000;
  font-size: 10px;
}
/* line 176, ../sass/gridview.scss */
.zakaz-index .fa-ping {
  color: #FF9999;
  font-size: 10px;
}
/* line 180, ../sass/gridview.scss */
.zakaz-index table {
  color: #ccc6c6;
}
/* line 184, ../sass/gridview.scss */
.zakaz-index thead {
  border: 1px solid #302927;
}
/* line 188, ../sass/gridview.scss */
.zakaz-index thead a {
  color: #302927;
}
/* line 191, ../sass/gridview.scss */
.zakaz-index .table-bordered > thead > tr > th {
  border: none;
}
/* line 196, ../sass/gridview.scss */
.zakaz-index .table tbody > tr {
  border: 1px solid #302927;
}
/* line 199, ../sass/gridview.scss */
.zakaz-index .table .textTr {
  color: rgba(204, 198, 198, 0.6);
}
/* line 205, ../sass/gridview.scss */
.zakaz-index .table-bordered tbody tr td {
  border: none;
  border-bottom: none;
}
/* line 209, ../sass/gridview.scss */
.zakaz-index .table-bordered tbody tr .zakaz-view-kartik {
  border-bottom: none;
  color: rgba(204, 198, 198, 0.6);
}
/* line 213, ../sass/gridview.scss */
.zakaz-index .table-bordered tbody tr .trInform {
  background: #736a50;
  height: 113px;
  border-radius: 8px;
  overflow: hidden;
}
/* line 221, ../sass/gridview.scss */
.zakaz-index .tableSize {
  font-size: 11px;
}
/* line 224, ../sass/gridview.scss */
.zakaz-index .headerTable {
  display: none;
}
/* line 228, ../sass/gridview.scss */
.zakaz-index .summary {
  display: none;
}
/* line 231, ../sass/gridview.scss */
.zakaz-index .borderSrok {
  border-bottom: 1px solid #000;
}
/* line 235, ../sass/gridview.scss */
.zakaz-index .table-bordered > tbody .trTable {
  border-bottom: 1px solid #423836;
}
/* line 239, ../sass/gridview.scss */
.zakaz-index .table-bordered > tbody .trSrok:hover {
  background: #3c3432;
}
/* line 244, ../sass/gridview.scss */
.zakaz-index .table-bordered > tbody .trNormal:hover {
  background: #3c3432;
}
/* line 249, ../sass/gridview.scss */
.zakaz-index .detail-view {
  background-color: #191412;
}
/* line 252, ../sass/gridview.scss */
.zakaz-index .footer-view-zakaz {
  margin-top: 15px;
}

/* line 256, ../sass/gridview.scss */
.footerNav {
  margin-top: 27px;
  font-size: 24px;
}
/* line 259, ../sass/gridview.scss */
.footerNav a {
  width: 135px;
  border-radius: 26px;
  font-size: 18px;
  color: #736a50;
  background: #3a3331;
  outline: 0;
  position: relative;
  text-align: center;
  top: 40px;
  left: 15px;
  line-height: 12px;
  border: none;
}

/* line 274, ../sass/gridview.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background: #191412;
}

/* line 277, ../sass/gridview.scss */
.nav-pills > li > a {
  border-radius: 26px;
}
