/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/login.scss */
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: rgba(204, 198, 198, 0.6);
}

/* line 24, ../sass/login.scss */
.headerLogin {
  background: rgba(255, 255, 255, 0.04);
  height: 126px;
  margin-top: 32px;
  padding: 37px 0px 0px 101px;
}
/* line 30, ../sass/login.scss */
.headerLogin h1 {
  font-size: 28px;
  font-weight: bold;
}
/* line 33, ../sass/login.scss */
.headerLogin h1 span {
  color: #999265;
}
/* line 37, ../sass/login.scss */
.headerLogin p {
  font-size: 13px;
  margin-top: 3px;
}

/* line 44, ../sass/login.scss */
.site-login .formLogin {
  margin-top: 10%;
  margin-left: 36%;
  background: rgba(0, 0, 0, 0.16);
  height: 284px;
  padding-left: 48px;
  padding-top: 42px;
  border-radius: 16px;
}
/* line 52, ../sass/login.scss */
.site-login .formLogin .inputForm {
  outline: 0;
  width: 86%;
  padding-left: 3%;
}
/* line 57, ../sass/login.scss */
.site-login .formLogin input {
  border-radius: 26px;
  font-size: 11px;
  height: 26px;
}
/* line 62, ../sass/login.scss */
.site-login .formLogin p {
  width: 193px;
  padding-left: 10px;
  padding-top: 3px;
  font-size: 11px;
}
/* line 68, ../sass/login.scss */
.site-login .formLogin label {
  color: rgba(204, 198, 198, 0.6);
  font-size: 11px;
  line-height: 33px;
  position: relative;
  top: -20px;
  left: 79px;
}
/* line 76, ../sass/login.scss */
.site-login .formLogin button {
  width: 204px;
  border-radius: 26px;
  font-size: 11px;
  height: 30px;
  font-size: 11px;
  color: #999265;
  background: #3a3331;
  outline: 0;
  position: relative;
  top: -33px;
  left: -5px;
  border: none;
}
/* line 89, ../sass/login.scss */
.site-login .formLogin button:hover {
  background: #191412;
}
/* line 95, ../sass/login.scss */
.site-login .has-error .help-block {
  color: rgba(171, 100, 24, 0.99);
}
/* line 99, ../sass/login.scss */
.site-login .titleLogin {
  text-align: center;
  position: relative;
  top: -88px;
  left: -18px;
  font-size: 27px;
  font-weight: bold;
}

/* line 108, ../sass/login.scss */
.footerLogin {
  position: relative;
  top: -45px;
  text-align: center;
  left: -22px;
  line-height: 14px;
}
/* line 114, ../sass/login.scss */
.footerLogin img {
  width: 49px;
  height: 46px;
}
/* line 118, ../sass/login.scss */
.footerLogin div {
  font-size: 11px;
}

/* line 27, ../sass/gridview.scss */
.border-left {
  width: 10px;
  border-radius: 19px 0px 0px 19px;
  border: none;
}

/* line 33, ../sass/gridview.scss */
.border-right {
  width: 90px;
  border-radius: 0px 19px 18px 0px;
  border: none;
}

/* line 39, ../sass/gridview.scss */
.tr10 {
  width: 10px;
}

/* line 40, ../sass/gridview.scss */
.tr20 {
  width: 20px;
}

/* line 41, ../sass/gridview.scss */
.tr50 {
  width: 50px;
}

/* line 42, ../sass/gridview.scss */
.tr70 {
  width: 70px;
}

/* line 43, ../sass/gridview.scss */
.tr90 {
  width: 90px;
}

/* line 45, ../sass/gridview.scss */
.header {
  display: none;
}

/* line 46, ../sass/gridview.scss */
.trBorder {
  border: none;
}

/* line 47, ../sass/gridview.scss */
.position {
  position: relative;
}

/* line 48, ../sass/gridview.scss */
.bold {
  font-weight: 700;
}

/* line 49, ../sass/gridview.scss */
.italic {
  font-weight: 100;
}

/* line 50, ../sass/gridview.scss */
.table .trTablePass {
  background: #802c2c;
}

/* line 53, ../sass/gridview.scss */
.table thead {
  background: #302927;
}

/* line 56, ../sass/gridview.scss */
.table #trNew {
  font-weight: bold;
}

/*.table #trNew:hover,.table .trTable:hover{
    background: #d8d8d8;
}*/
/* line 62, ../sass/gridview.scss */
.reminder {
  position: relative;
  top: -104px;
  clear: both;
}

/* line 67, ../sass/gridview.scss */
.grid-view td {
  white-space: inherit;
}

/* line 71, ../sass/gridview.scss */
.fa-red {
  color: #CC0000;
  font-size: 10px;
}

/* line 75, ../sass/gridview.scss */
.fa-ping {
  color: #FF9999;
  font-size: 10px;
}

/* line 79, ../sass/gridview.scss */
table {
  color: #ccc6c6;
}

/* line 82, ../sass/gridview.scss */
.titleCaption, .titleTable, .title {
  color: #736a50;
  position: relative;
}

/* line 86, ../sass/gridview.scss */
.titleTable {
  font-size: 24px;
  margin-top: 41px;
  margin-bottom: 8px;
  margin-left: 15px;
}

/* line 93, ../sass/gridview.scss */
thead {
  border: 1px solid #302927;
}

/* line 97, ../sass/gridview.scss */
thead a {
  color: #302927;
}

/* line 100, ../sass/gridview.scss */
.table-bordered > thead > tr > th {
  border: none;
  /*border-bottom: 1px solid #fff;*/
}

/* line 104, ../sass/gridview.scss */
.table tbody > tr {
  border: 1px solid #302927;
}

/* line 107, ../sass/gridview.scss */
.table-bordered tbody > tr > td {
  border: none;
  border-bottom: 1px solid #423836;
}

/* line 111, ../sass/gridview.scss */
.table .textTr {
  color: rgba(204, 198, 198, 0.6);
}

/* line 114, ../sass/gridview.scss */
.tableSize {
  font-size: 11px;
}

/* line 117, ../sass/gridview.scss */
.headerTable {
  display: none;
}

/* line 120, ../sass/gridview.scss */
.title {
  font-size: 26px;
}

/* line 124, ../sass/gridview.scss */
.summary {
  display: none;
}

/* line 127, ../sass/gridview.scss */
.borderSrok {
  border-bottom: 1px solid #000;
}

/* line 132, ../sass/gridview.scss */
.table-bordered > tbody .trSrok:hover {
  background: #3c3432;
}
/* line 137, ../sass/gridview.scss */
.table-bordered > tbody .trNormal:hover {
  background: #3c3432;
}

/* line 20, ../sass/style.scss */
body {
  background: #302927;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* line 24, ../sass/style.scss */
.notification-container {
  position: fixed;
  width: 16%;
  top: 50px;
  height: 200px;
  float: left;
  margin-left: 69%;
  border: 1px solid #f1d0d0;
  z-index: 1000;
  background: #ffffff;
  padding: 5px 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
}

/* line 39, ../sass/style.scss */
.notification-container .hidden {
  display: none;
}

/* line 42, ../sass/style.scss */
.notification-content {
  height: 169px;
  overflow: auto;
}
